
  
    <div  style="margin-top:10px ;">
        <h1>Pilacoin Minerações LTDA</h1>
        <div>           
           
            <tabset #staticTabs>
              <tab heading="Mineiradora">                 
                    <button class="btn btn-success btn-lg col-12 mb-5" (click)="iniciarMineiracao()">Mineirar</button>  
                    <button class="btn btn-warning btn-lg col-12" (click)="pararMineiracao()">Parar mineiração</button>           
                
          
            </tab>
              <tab heading="Usuários"><app-usuarios></app-usuarios></tab>
              <tab heading="Carteira"><app-carteira></app-carteira></tab>
              <tab heading="Static Title 3">Static content 3</tab>
            </tabset>
          </div>

    </div>

